/** GENERAL PAGE STYLING **/
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border: 4px solid red;
  }

  aside {
    display: none;
    background-color: #354052;
  }

  aside,
  figcaption {
    color: #B7C3D0;
  }

  figure{
    margin-top: 0px;
  }

  #avatar-section,
  .aside-category-links {
    border-bottom: 1px inset #1a2b4d;
    padding: 13px 0;
  }

  #avatar-link {
    padding-left: 3px;
  }

  .aside-category-links ul{
    list-style-type: none;
     margin: 0;
     padding: 0;
     width: 200px;
  }

 .aside-category-links li {
   display: block;
   padding: 8px 16px;
   text-decoration: none;
  }

  .aside-category-links li:hover {
    background-color: #42526C;
    border-left: 3px solid #0BB5FF;
  }

  .aside-category-links a {
    color: #B7C3D0;
    text-decoration: none;
    padding-left: 10px;
  }

 .aside-reg-caps:hover,.aside-link:hover {
    color: #fff;
  }

/**FONT STYLING**/
  h3 {
    color: #6B6B6B;
  }

  figcaption {
    text-align: center;
    font-size: 80%;
  }

  .aside-link,
  .graph-btn-txt,
  thead,
  th,
  .resume-edit-btn  {
    font-variant: small-caps;
  }

  .aside-reg-caps {
    font-size: 80%;
  }

  .aside-category-links h4 {
    font-size: 70%;
    padding-left: 25px
  }

/** MAIN SECTION **/
  main {
    width: 100%;
    border: 5px solid yellow;
  }

  #expanded-nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px inset #D7E4EA;
  }

  .all-expanded-nav-boxes {
    border-right: 1px solid #D7E4EA;
  }

  .all-expanded-nav-boxes svg {
    display: block;
    margin: 10px auto;
  }

  .all-expanded-nav-boxes:hover .svg-hover,
  .all-four-job-title-nav-btns:hover .svg-hover {
    fill: #fff;
  }

  .all-expanded-nav-boxes:hover,
  .exp-nav-box3 {
    background-color: #0BB5FF;
  }

  .exp-nav-box1,
  .exp-nav-box3,
  .exp-nav-box4,
  .exp-nav-box5 {
    min-height: 45px;
    min-width: 45px;
    max-height: 60px;
    max-width: 60px;
  }

  .exp-nav-box2 {
    min-width: 10%;
    flex: 2;
  }

  .nav-input-field {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border-style: none;
  }

  /*.search-img {
    position: absolute;
    top: 20px;
    left: 0;
  }*/

  input[type="text"].nav-input-field::-webkit-input-placeholder {
    color: #c8cfd6;
  }


  /** JOB TITLE SECTION **/
  #job-title-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  #job-title-section,
  #resume-social-media-section{
    border-bottom: 1px inset #D7E4EA;
  }

  .job-title-header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 30px auto;
  }

  .inner-job-title-box h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
  }

  .job-title-location-para {
    margin: 5px 0 0;
    font-size: 12px;
  }

  .job-title-location-blue-txt {
    text-decoration: none;
    color: #63D1F4;
  }

 .job-title-location-blue-txt:hover {
   text-decoration: underline;;
 }

/*-----Job Title Button Section -----*/
  .job-title-section-sub-nav {
    display: flex;
  }

  .job-title-oblong-btn,
  .job-title-section-sub-nav-btn {
    margin: 0 10px;
    background-color: #fff;
    border-style: solid;
  }

  .job-title-oblong-btn:hover,
  .job-title-section-sub-nav-btn:hover {
    background-color: #a9aaab;
    color: #fff;
  }

  .job-title-oblong-btn {
    width: 82px;
    padding: 7px;
    border-radius: 25px;
  }

  .job-title-section-sub-nav-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .job-title-section-sub-nav-btn svg {
    margin-top: 5px;
  }

  /** JOB TITLE SECTION BOTTOM NAV **/
  .job-title-section-bottom-nav {
    width: 95%;
    margin: 0 auto;
  }

  .job-title-section-bottom-nav a {
    display: inline-block;
    margin-right: 20px;
    padding: 0 0 15px;
    color: #8C8C8C;
    border-bottom: 4px solid #FFF;
  }

  .job-title-section-bottom-nav a:hover {
    color: #3D3D3D;
    border-bottom: 4px solid #007FFF;
  }


/** DIVIDER IN MIDDLE OF PAGE **/
  .bottom-line-with-image-divider {
    width: 100%;
    text-align: center;
  }

  .divider {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    }

  .divider:before,
  .divider:after  {
    margin: 0 0 3px 0px;
    display: inline-block;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #ABABAB;
    }

  .divider:before {
    width: 46%;
  }

  .divider:after {
    width: 43%;
    }

  /** GRAPH SECTION **/

  #graphs-section,
  #resume-social-media-section {
    display: flex;
    width: 100%;
  }

  .bottom-line-with-image-divider,
  #graphs-section,
  #resume-social-media-section {
    background-color: #E0EEEE;
  }

  .graph-btn{
    text-align: center;
  }

  .graph-btn-txt{
    height: 25px;
    margin: 0 auto 50px auto;
    border-radius:25px;
    border-style: solid;
    background-color: #fff;
    text-align: center;
    font-size:85%;
    border-color: #D7E4EA;
  }

  .graph-btn-txt:hover {
    background-color: #a9aaab;
    color: #fff;
  }

  .circle-graphs-section,
  .bar-graph-section {
    display: block;
    }

  #circle-graph-and-txt {
    width: 100%;
  }

  .circle-graphs-section{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 50px 40px 50px 30px;
  }

  .circle-graphs {
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }

  .circle-graphs{
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid black;
  }

  .circle-graph-1 {
    border-color: #4EB8BF #4EB8BF #D7E4EA #4EB8BF;
  }

  .circle-graph-2 {
    border-color: #D7E4EA #D7E4EA #4E74C7 #4E74C7;
  }

  .circle-graph-3 {
    border-color:  #D7E4EA #D7E4EA #813A8E #D7E4EA;
  }

  .circle-txt-group{
    margin-top: 45px;
  }

  .in-circle-sm-txt{
    display: block;
    font-size:70%;
  }

  .bar-graph-section {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 40px 40px 50px 30px;
    }

  .circle-graphs,
  .social-widget {
    color: dimgrey;
  }

  /** RESUME SECTION **/

  table {
    margin: 40px;
    /*height: 550px;
    max-width: 700px;*/
    padding: 10px;
    border-collapse: collapse;
    background-color: #fff;
  }

  th {
    min-width: 170px;
    color: #778899;
    text-align: left;
  }

  thead,
  th,
  .resume-edit-btn {
    font-weight: 700px;
    font-size: 20px;
  }

  thead,
  .th-font {
    color: #fff;
  }

  thead {
    height: 44px;
    background-color: #778899;
  }

  tr {
    display: flex;
    margin: 0 auto;
    padding: 27px 0;
    width: 90%;
  }

  tr:not(:last-child) {
      border-bottom: 1px solid #D3D3D3;
  }

  .resume-edit-btn {
    height: 30px;
    width: 70px;
    background-color: #929fad;
    vertical-align: top;
    margin-top: -5px;
    border-style: none;
    color: #fff;
    border-radius: 5px;
  }

  .resume-edit-btn:hover {
    border: 2px solid #778899;
  }

  .resume-pencil-icon {
    margin-right: 4px;
  }

  #resume-social-media-section {
    height: auto;
  }

  #social-section {
    height: 550px;
    width: 330px;
    margin-top: 40px;
    margin-right: 40px;
  }

  .social-media-btn,
  .social-widget-input {
    width: 100%;
  }

  .social-media-btn,
  .social-widget-input {
    height: 52px;
  }

  .social-media-btn,
  .input-copy-btn  {
    border-style: none;
  }

  .social-media-btn {
    margin-bottom: 15px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 20px 50%
  }

  .facebook {
    background-color: #3B5998;
    background-image: url(images/facebook.svg);
  }

  .twitter {
    background-color:#28A4E8;
    background-image: url(images/twitter.svg);
  }

  .linkedin {
    background-color:#0077B5;
    background-image: url(images/linkedin.svg);
  }

  .btns-social {
    height: 35%;
  }

  .social-media-btn:hover {
    border: 4px solid #E0EEEE
  }

  #social-widget-section {
    width: 100%;
    /*height: 65%;*/
  }

  .widget-input-btn-div {
    display: flex;
    margin-bottom: 30px;
  }

  .social-widget-input {
    text-align: center;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    padding-left: 15px;
  }

  .social-widget {
   width: 100%;
   padding: 7px;
   text-align: left;
  }

  .social-widget p {
    font-size: 80%;
    line-height: 1.8;
  }

  .social-widget:not(:last-child) {
    border-bottom: 1px solid #D3D3D3;
  }

  .social-widget-last-child-input {
    width: 350px;
    text-align: left;
  }

  .input-copy-btn {
    height: 48px;
    width: 70px;
    vertical-align: bottom;
    color: #FFF;
    background-color: #2FAA96;
  }

  .input-copy-btn:hover {
    border: 1px solid #E0EEEE
  }

  /** IMAGES AND ICONS **/

  #avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  .aside-icon {
    height: 12px;
    width: 12px;
    vertical-align: middle;
    margin-right: 8px;
  }

  .bar-graph-img {
    height: 155px;
    width: 450px;
  }

  .x-sm-dot-icon {
    height: 3px;
    width: 3px;
    margin: auto 3px 2px 3px;
  }

  .x-sm-icon {
    height: 10px;
    width: 10px;
  }

  .location-sm-icon {
    margin-right: 4px;
  }

  .sm-icon {
    height: 14px;
    width: 14px;
    vertical-align: middle;
  }

  .divider-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }

  .green-dot-icon {
    height:8px;
    width: 8px;
    margin-right: 5px;
  }

  .blue-triangle-icon {
    height: 8px;
    width: 8px;
    transform: scaleX(-1);
    margin: 30px 0 0 11px;
  }

  .round-avatar-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  .social-media-icon {
    height: 30px;
    width: 30px;
  }

  .social-widget-icon-img {
    height: 13px;
    width: 13px;
    margin-right: 3px;
  }

   #icon-hover-change svg:hover path {
    fill: #fff;
    pointer-events:none;
  }

  /**MEDIA QUERIES**/

  @media screen and (max-width: 640px) {
    .all-expanded-nav-boxes svg {
      margin-top: 10px;
    }

    input[type="text"].nav-input-field::-webkit-input-placeholder {
      font-size: 70%;
    }

    .job-title-section-bottom-nav {
      font-size: 80%;
    }

    .job-title-section-sub-nav {
      margin: 20px auto auto auto;

    }

    .job-title-header-section,
    .job-title-section-bottom-nav {
      margin: auto;
      justify-content: space-around;
      padding-top: 20px;
    }

    .bar-graph-img {
      margin-top: -50px;
    }

    /*.job-title-header-section {
      justify-content: center;
    }

    .inner-job-title-box h1 {
      margin: 0;
      font-size: 17px;
      font-weight: 400;
    }

    .job-title-location-para {
      margin: 13px 0 0;
      font-size: 12px;
    }

    .job-title-section-sub-nav {
      margin: 20px auto 0 auto;
    }

    .job-title-section-bottom-nav {
      width: 80%;
      margin: 0 auto;
      font-size: 60%;
    }*/

  }

  @media screen and (min-width: 600px) {

  }


  @media screen and (min-width: 750px) {
    aside{
      display: block;
    }

  }

  @media screen and (max-width: 750px) {
    #graphs-section,
    #resume-social-media-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

  }
