/** GENERAL PAGE STYLING **/
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0;
  }

/**STYLES TURNED OFF FOR MOBILE VIEW**/
  aside {
    background-color: #354052;
    display: none;
  }

  .job-title-section-sub-nav {
    display: none;
  }

  .hidden-nav-btns {
    display: none !important;
 }

/**STYLES**/

  #mobile-view-nav {
    display: block;
 }

  aside,
  figcaption {
    color: #b7c3d0;
  }

  #avatar-section,
  .aside-category-links {
    border-bottom: 1px inset #1a2b4d;
  }

  #avatar-link {
    padding-left: 3px;
  }

  figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
  }

  .aside-category-links {
    padding: 13px 0;
  }

  .aside-category-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .aside-category-links li {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }

  .aside-category-links li:hover  {
    background-color: #42526c;
    border-left: 3px solid #0bb5ff;
 }

  .aside-category-links a {
    color: #b7c3d0;
    padding-left: 10px;
    text-decoration: none;
  }

  .aside-reg-caps:hover,
  .aside-link:hover {
    color: #fff;
  }

  /**FONT STYLING**/

  h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
  }

  h2,
  .in-circle-sm-txt {
    font-weight: 400;
    margin: 5px;
  }

  h3 {
    color: #6b6b6b;
  }

  figcaption {
    font-size: 80%;
    padding-top: 10px;
    text-align: center;
  }

  .aside-link,
  .graph-btn-txt,
  thead,
  th,
  .in-circle-sm-txt,
  .resume-edit-btn {
    font-variant: small-caps;
  }

  .aside-reg-caps {
    font-size: 80%;
  }

  .aside-category-links h4 {
    font-size: 70%;
    padding-left: 25px;
  }

  .in-circle-sm-txt {
    display: block;
  }

  /** MAIN SECTION **/
  main {
    min-height: 100%;
    width: 100%;
  }

  #primary-nav {
    display: flex;
    width: 100%;
    border-bottom: 1px inset #d7e4ea;
    flex-wrap: wrap;
 }

  .all-primary-nav-boxes {
    border-right: 1px solid #d7e4ea;
  }

  .all-primary-nav-boxes:hover .svg-hover,
  .all-four-job-title-nav-btns:hover .svg-hover {
    fill: #fff;
 }

  .all-primary-nav-boxes:hover,
  .primary-nav-box3 {
    background-color: #0bb5ff;
  }

  .primary-nav-box1,
  .primary-nav-box3,
  .primary-nav-box4,
  .primary-nav-box5 {
    max-height: 60px;
    max-width: 60px;
    min-height: 45px;
    min-width: 45px;
  }

  .primary-nav-box2 {
    flex: 2;
    min-width: 10%;
  }

  .nav-input-field {
    border-style: none;
    width: 100%;
    height: 100%;
    padding-left: 32px;
    position: relative;
  }

  input[type='text'] {
   background-image: url(images/search.svg);
   background-position: left;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   margin-left: 5px;
  }

  input[type='text'].nav-input-field::-webkit-input-placeholder {
    color: #c8cfd6;
  }


  /** JOB TITLE SECTION **/

  #job-title-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  #job-title-section,
  #resume-social-media-section {
    border-bottom: 1px inset #d7e4ea;
  }

  .job-title-header-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    width: 93%;
   }

  .job-title-location-para {
    font-size: 12px;
    margin: 5px 0 0;
   }

  .job-title-location-blue-txt {
    color: #63d1f4;
    text-decoration: none;
   }

  .job-title-location-blue-txt:hover {
    text-decoration: underline;
   }

  /** Job Title Sub Nav Section **/

  .job-title-oblong-btn,
  .job-title-section-sub-nav-btn {
    background-color: #fff;
    border-style: solid;
    margin: 0 10px;
   }

  .job-title-oblong-btn:hover,
  .job-title-section-sub-nav-btn:hover {
    background-color: #a9aaab;
    color: #fff;
  }

  .job-title-oblong-btn {
    border-radius: 25px;
    padding: 7px;
    width: 82px;
  }

  .job-title-section-sub-nav-btn {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }

  .job-title-section-sub-nav-btn svg {
    margin-top: 5px;
  }

  /** JOB TITLE SECTION BOTTOM NAV **/

  .job-title-section-bottom-nav {
    margin: 0 auto;
    width: 93%;
  }

  .job-title-section-bottom-nav a {
    color: #8c8c8c;
    border-bottom: 4px solid #fff;
    display: inline-block;
    margin-right: 45px;
    padding: 0 0 15px;
  }

  .job-title-section-bottom-nav a:hover {
    border-bottom: 4px solid #007fff;
    color: #3d3d3d;
  }

  /** DIVIDER IN MIDDLE OF PAGE **/

  .bottom-line-with-image-divider,
  .divider {
    text-align: center;
    width: 100%;
   }

  .divider {
    margin: 0;
    padding: 0;
   }

  .divider:before,
  .divider:after {
    background-color: #ababab;
    content: ' ';
    display: inline-block;
    height: 2px;
    margin: 0 0 3px 0;
    text-shadow: none;
    width: 45%;
  }

  /** GRAPH SECTION **/

  .bottom-line-with-image-divider,
  #graphs-section,
  #resume-social-media-section {
    background-color: #e0eeee;
   }

  .graph-btn {
    text-align: center;
   }

  .graph-btn-txt {
    background-color: #fff;
    border-color: #d7e4ea;
    border-radius: 25px;
    border-style: solid;
    font-size: 85%;
    height: 25px;
    margin: 0 auto 50px auto;
    text-align: center;
  }

  .graph-btn-txt:hover {
    background-color: #a9aaab;
    color: #fff;
  }

  #circle-graph-and-txt {
    width: auto;
  }

  .circle-graphs-section {
    display: flex;
    margin-left: 30px;
    padding: 50px 0;
    width: 90%;
  }

  .circle-graphs {
    border: 10px solid black;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    height: 150px;
    line-height: 22px;
    margin: 10px;
    text-align: center;
    width: 150px;
  }

  .circle-graph-1 {
    border-color: #4eb8bf #4eb8bf #d7e4ea #4eb8bf;
  }

  .circle-graph-2 {
    border-color: #d7e4ea #d7e4ea #4e74c7 #4e74c7;
  }

  .circle-graph-3 {
    border-color: #d7e4ea #d7e4ea #813a8e #d7e4ea;
  }

  .circle-txt-group {
    margin-top: 45px;
  }

  .bar-graph-section {
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 55px 40px 50px 30px;
  }

  .circle-graphs,
  .social-widget {
    color: dimgrey;
  }

  /** RESUME SECTION **/

  table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 40px;
    padding: 10px;
  }

  th {
    color: #789;
    min-width: 170px;
    text-align: left;
  }

  thead,
  th,
  .resume-edit-btn {
    font-size: 20px;
    font-weight: 700px;
  }

  thead,
  .th-font {
    color: #fff;
  }

  thead {
    background-color: #789;
    height: 44px;
  }

  tr {
    display: flex;
    margin: 0 auto;
    padding: 31px 0;
    width: 90%;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
  }

  .resume-edit-btn {
    background-color: #929fad;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    height: 30px;
    margin-top: -5px;
    vertical-align: top;
    width: 70px;
  }

  .resume-edit-btn:hover {
    border: 2px solid #789;
  }

  .resume-pencil-icon {
    margin-right: 4px;
  }

  #social-section {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 90%;
  }

  .social-media-btn,
  .social-widget-input {
    height: 51px;
    width: 100%;
  }

  .social-media-btn,
  .input-copy-btn {
    border-style: none;
  }

  .social-media-btn {
    background-position: 20px 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    color: #fff;
    margin-bottom: 15px;
  }

  .facebook {
    background-color: #3b5998;
    background-image: url(images/facebook.svg);
  }

  .twitter {
    background-color: #28a4e8;
    background-image: url(images/twitter.svg);
  }

  .linkedin {
    background-color: #0077b5;
    background-image: url(images/linkedin.svg);
  }

  .social-media-btn:hover {
    border: 4px solid #e0eeee;
  }

  #social-widget-section {
    width: 100%;
  }

  .widget-input-btn-div {
    display: flex;
    margin-bottom: 30px;
  }

  .social-widget-input {
    font-size: 80%;
    overflow: hidden;
    padding-left: 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .social-widget {
    padding: 7px;
    text-align: left;
    width: 100%;
  }

  .social-widget p {
    font-size: 80%;
    line-height: 1.8;
  }

  .social-widget:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
  }

  .social-widget-last-child-input {
    text-align: left;
    width: 100%;
  }

  .input-copy-btn {
    background-color: #2faa96;
    color: #fff;
    height: 48px;
    margin-top: 1px;
    width: 25%;
  }

  .input-copy-btn:hover {
    border: 1px solid #e0eeee;
  }

  /** IMAGES AND ICONS **/

  .lg-avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .sm-avatar {
    border-radius: 50%;
    height: 55px;
    width: 55px;
  }

  .all-aside-icons {
    height: 12px;
    margin-right: 8px;
    vertical-align: middle;
    width: 12px;
  }

  .all-primary-nav-boxes svg {
    display: block;
    margin: 10px auto;
  }

  .primary-nav-box1 svg {
    display: inline;
  }

  .blue-arrow-indicating-more {
    height: 8px;
    margin: 17px 0;
    transform: scaleX(-1);
    width: 8px;
  }

  .mobile-nav-btn {
    height: 40px;
    width: 40px;
  }

  .mobile-nav-btn:hover {
    border: 2px solid #fff;
  }

  .bar-graph-img {
    height: 165px;
    width: width: 90%;
  }

  .x-sm-dot-icon {
    height: 3px;
    margin: auto 3px 2px 3px;
    width: 3px;
  }

  .x-sm-icon {
    height: 10px;
    width: 10px;
  }

  .sm-icon {
    height: 14px;
    vertical-align: middle;
    width: 14px;
  }

  .location-sm-icon {
    margin-right: 4px;
  }

  .search-img,
  .divider-icon {
    height: 20px;
    width: 20px;
  }

  .divider-icon {
    vertical-align: middle;
  }

  .green-dot-icon {
    height: 8px;
    margin-right: 5px;
    width: 8px;
  }

  .social-media-icon {
    height: 30px;
    width: 30px;
  }

  .social-widget-icon-img {
    height: 13px;
    margin-right: 3px;
    width: 13px;
  }

/**MEDIA QUERIES**/

@media screen and (max-width: 500px) {
  .circle-graphs-section {
    align-items: center;
    flex-direction: column;
  }

  .divider:before,
  .divider:after {
    width: 42%;
  }
}


@media screen and (max-width: 652px) {
  .all-primary-nav-boxes svg {
    margin-top: 10px;
  }

  input[type='text'].nav-input-field::-webkit-input-placeholder {
    font-size: 70%;
  }

  #mobile-view-nav {
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin: 10px auto;
    padding: 10px;
    width: 450px;
  }

  .job-title-header-section {
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
  }

  .bar-graph-section {
    justify-content: center;
    margin: 0px auto 50px auto;
  }

  table {
    margin: 0 auto;
    width: 90%;
  }

  .social-widget-input {
    width: 106%;
  }
}

@media screen and (min-width: 652px) {
  #mobile-view-nav {
    display: none;
  }

  .nav1,
  .nav2,
  .nav3,
  .nav4,
  .nav-more {
    display: inline-block !important;
  }

  .job-title-section-bottom-nav {
    justify-content: space-around;
    margin: auto;
    padding-top: 10px;
  }
}

@media screen and (min-width: 725px) {
  .nav5 {
    display: inline-block !important;
  }

  .job-title-section-bottom-nav {
    font-size: 90%;
  }
}

@media screen and (min-width: 750px) {

  .nav5 {
    display: none !important;
  }

  #graphs-section,
  #resume-social-media-section {
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  #social-section {
    margin: 40px 40px 0 0;
  }
}

@media screen and (min-width: 865px) {

  .nav5 {
    display: inline-block !important;
  }

}

@media screen and (min-width: 900px) {
  aside {
    display: block;
  }

  .job-title-section-sub-nav {
    display: inline-block;
  }
}

@media screen and (min-width: 975px) {
  .nav6 {
    display: inline-block !important;
  }

}

@media screen and (min-width: 1150px) {
  .nav7 {
    display: inline-block !important;
  }

  .nav-more {
    display: none !important;
  }
}
